<div class="container">

  <form [formGroup]="dynamicForm">

    <h2>Dynamic Form</h2>

    <mat-form-field appearance="fill">

      <mat-label>Choose number of Tickets</mat-label>

      <mat-select (selectionChange)="onChangeTickets($event)" formControlName="numberOfTickets">
        <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
      </mat-select>

      <mat-error *ngIf="dynamicForm.controls.numberOfTickets.errors">Choose valid number of tickets</mat-error>

    </mat-form-field>

    <app-datepicker
      (dateChange)="setData($event)"></app-datepicker>

    <div *ngFor="let ticket of tickets.controls; let i = index">

      <div [formGroup]="ticket" class="form-row">
        <mat-form-field appearance="fill">

          <mat-label>Enter your name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="ticket.controls.name.errors">Name is required</mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">

          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="ticket.controls.email.errors">Email is required</mat-error>

        </mat-form-field>
      </div>

    </div>

    <div class="buttons-wrapper">
      <button mat-raised-button color="primary" [disabled]="dynamicForm.invalid" (click)="onSubmit()">Submit</button>
      <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
      <button mat-raised-button color="accent" [disabled]="!!dynamicForm.controls.numberOfTickets.errors" (click)="fillData()">Fill data</button>
    </div>

  </form>

  <app-loader [loaderType]="'spinner'"></app-loader>

</div>
