<div class="container">

  <form [formGroup]="dynamicForm">

    <h2>Dynamic Form</h2>

    <div class="main-wrapper">
      <mat-form-field appearance="fill">

        <mat-label>Number of Tickets</mat-label>

        <mat-select (selectionChange)="onChangeTickets($event)" formControlName="numberOfTickets">
          <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
        </mat-select>

        <mat-error *ngIf="dynamicForm.controls.numberOfTickets.errors">Choose valid number of tickets</mat-error>

      </mat-form-field>

      <app-datepicker (dateChange)="setData($event)"></app-datepicker>
    </div>


    <div *ngFor="let ticket of tickets.controls; let i = index">

      <div [formGroup]="ticket" class="form-row">

        {{ i + 1 }}.

        <mat-form-field appearance="fill">

          <mat-label>Enter your name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="ticket.controls.name.errors">Name is required</mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">

          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="ticket.controls.email.errors">Email is required</mat-error>

        </mat-form-field>

        <svg (click)="removeTicket(ticket)" width="10px" height="10px" viewBox="0 0 8 6">
          <title>close</title>
          <desc>Created with Sketch.</desc>
          <g id="V2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="V2.2_Fall_kebab" transform="translate(-1253.000000, -237.000000)" fill="#526A6E" fill-rule="nonzero" stroke="#526A6E" stroke-width="0.5">
              <g id="Kebab-menu-Copy-2" transform="translate(1146.000000, 220.000000)">
                <g id="Icon/close" transform="translate(108.000000, 17.000000)">
                  <polygon id="Path" points="0.487213971 0 0 0.487213971 2.5127862 3.00000003 0 5.51278617 0.487213971 6 3.00000003 3.48721387 5.51278617 6 6 5.51278617 3.48721387 3.00000003 6 0.487213971 5.51278617 0 3.00000003 2.5127862"></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>

      </div>

    </div>

    <div class="buttons-wrapper">
      <button mat-raised-button color="primary" [disabled]="dynamicForm.invalid" (click)="onSubmit()">Submit</button>
      <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
      <button mat-raised-button color="accent" [disabled]="!!dynamicForm.controls.numberOfTickets.errors" (click)="fillData()">Fill data</button>
    </div>

  </form>

  <app-loader [loaderType]="'spinner'"></app-loader>

</div>
