<div class="container">

  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">

    <h2>Dynamic Form</h2>

    <mat-form-field appearance="fill">

      <mat-label>Choose number of Tickets</mat-label>

      <mat-select (selectionChange)="onChangeTickets($event)" formControlName="numberOfTickets">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
      </mat-select>

      <!-- TODO error validators -->
      <!--<mat-error *ngIf="dynamicForm.controls.numberOfTickets.errors.required">Choose valid number of tickets</mat-error>-->

    </mat-form-field>

    <div *ngFor="let ticket of t.controls; let i = index">

      <div [formGroup]="ticket" class="form-row">
        <mat-form-field appearance="fill">

          <mat-label>Enter your name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
          <!--<mat-error *ngIf="ticket.controls.name.errors.required">Name is required</mat-error>-->

        </mat-form-field>


        <mat-form-field appearance="fill">

          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <!--<mat-error *ngIf="ticket.controls.email.errors.required">Email is required</mat-error>-->

        </mat-form-field>
      </div>

    </div>



    <div class="buttons-wrapper">
      <button mat-raised-button color="primary" [disabled]="dynamicForm.invalid">Submit</button>
      <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
      <button mat-raised-button color="accent" (click)="onClear()">Clear</button>
    </div>

  </form>

</div>
