.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(233,224,233,1) 0%, rgb(170, 190, 221) 50%, rgba(233,224,233,1) 100%);
  width: 100vw;
  height: 100vh;

  .main-page-wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;

    p {
      margin: 0;
      font-size: 16px;
    }

    mat-checkbox {
      margin: 10px 0;
      font-size: 16px;
    }
  }

  button {
    width: 200px;
    height: 40px;
    color: #fff;
  }
}
